<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />

    <title>Web Cam Face Detection</title>
    <style>
        body {
            background: radial-gradient(circle at center, #fa7777 0%, #ba2f2f 100%);
            color: #ffffff;
            font-family: sans-serif;
            font-size: 16px;
            line-height: 1.5;
          }
      .form-signin {
        padding: 15px;
        margin: 0 auto;
        margin-top: 50px;
      }
    </style>
  </head>

  <body>
    <div class="text-center">
      <form
        class="form-signin border p-5 shadow bg-white rounded"
        method="post"
        style="width: 500px"
      >
        <img
          class="mb-4"
          src="{{ url_for('static', filename='images/evsu.png') }}"
          alt=""
          width="150"
          height="150"
        />
        <h1 class="h3 mb-3 font-weight-normal  text-dark">Sign In</h1>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="text"
          id="username"
          class="form-control mb-3 p-4"
          placeholder="Username"
          required
          autofocus=""
          name="username"
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          name="password"
          class="form-control p-4"
          placeholder="Password"
          required
        />

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
          Sign in
        </button>
        <p class="mt-5 mb-3 text-muted">© 2023-2024</p>
      </form>
    </div>
  </body>
</html>
