{% extends 'base.html' %} {% block content %}
<div class="d-flex justify-content-between align-items-center">
  <h2>People</h2>
  <a class="btn btn-primary" href="{{ url_for('users_create') }}"
    >Add People <i class="fas fa-plus ml-2"></i>
  </a>
</div>

<hr />
<div class="row">
  {% for user in users %}
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="card rounded-0 p-0 shadow-sm">
      <img
        src="{{ url_for('static', filename='profiles/' + user['student_id'] + '.png') }}"
        width="200px"
        height="200px"
        class="rounded-0 mx-auto mt-3"
        alt="Angular pro sidebar"
      />
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h6 class="card-title">
              {{ user['first_name']}} {{ user['last_name']}}
              <span class="badge badge-pill badge-info">
                {{ user['course']}} - {{ user['year_level']}}
              </span>
            </h6>
            <p>ID: {{ user['student_id']}}</p>
          </div>

          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-three-dots-vertical"
              viewBox="0 0 16 16"
              data-toggle="dropdown"
              class="cursor"
            >
              <path
                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
              />
            </svg>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item disabled">Edit</a>
              <a class="dropdown-item disabled" href="#">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}

<!-- page-content" -->
