<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <h2 class="ml-1 text-white" href="#">SCE-RETIFARS</h2>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link ml-4 pb-1" href="{{ url_for('users.index') }}"
              >Dashboard <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link ml-4 pb-1" href="{{ url_for('entries.index') }}"
              >Logs <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <form
          class="form-inline my-2 my-lg-0"
          action="{{ url_for('auth.logout')}}"
        >
          <button class="btn btn-outline-info my-2 my-sm-0" type="flat">
            Logout
          </button>
        </form>
      </div>
    </nav>

    <form class="container mt-5" method="post">
      <div class="card border-1">
        <div class="card-header">
          <h3>Add New User</h3>
        </div>
        <div class="card-body">
          {% for message in get_flashed_messages() %}

          <div class="alert alert-danger">{{ message }}</div>
          {% endfor %}
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label for="firstname">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstname"
                  name="first_name"
                  placeholder="Enter firstname"
                  required
                />
              </div>
              <div class="form-group">
                <label for="last_name">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="last_name"
                  name="last_name"
                  placeholder="Enter lastname"
                  required
                />
              </div>
              <div class="form-group">
                <label for="student_id">Student ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="studentId"
                  name="student_id"
                  placeholder="Enter student Id"
                  required
                />
                <small id="studentIdHelp" class="form-text text-muted"
                  >This will use to identify the person in image</small
                >
              </div>
              <div class="form-group">
                <label for="course">Course</label>
                <input
                  type="text"
                  class="form-control"
                  id="course"
                  name="course"
                  placeholder="Enter course"
                  required
                />
              </div>
              <div class="form-group">
                <label for="year_level">Year Level</label>
                <select
                  name="year_level"
                  id="year_level"
                  class="form-control"
                  required
                >
                  <option value="I">I</option>
                  <option value="II">II</option>
                  <option value="III">III</option>
                  <option value="IV">IV</option>
                </select>
              </div>
            </div>
            <div class="col-md-5 text-center">
              <img
                id="image_preview"
                src="https://placehold.co/300"
                class="rounded"
                alt="profile"
                width="300"
                height="300"
              />
              <input type="file" class="d-none" id="file_upload" onchange="document.getElementById('image_preview').src = this.files[0]; console.log(this)" />
              <button
                type="button"
                onclick="document.getElementById('file_upload').click()"
                class="btn btn-primary w-75 mt-3"
              >
                Upload Image
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <script>
        
    </script>
  </body>
</html>
