{% extends 'base.html' %} {% block navbaritems %}
<li class="breadcrumb-item active" aria-current="page">Reports</li>
{% endblock %} {% block content %}
<div class="d-flex justify-content-between align-items-center">
  <h2>Reports</h2>
  <button
      type="button"
      id="batch-delete-btn"
      class="btn btn-danger"
      style="display: none"
    >
      Batch Delete <i class="fas fa-trash ml-2"></i>
    </button>
</div>
<div class="table-reponsive mt-3">
  <form
        method="POST"
        action="{{ url_for('reports.index')}}"
        id="table-batch"
      >
  <table id="table" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input type="checkbox" id="parent-checkbox" /></th>
        <th data-sortable="false">File</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
      <tr>
        <td>
          <input
            type="checkbox"
            class="child-checkbox"
            name="names[]"
            value="{{ report }}"
            data-name="{{ report }}"
          />
        </td>
        <td>{{ report }}</td>
        <td>
          <a href={{ url_for('static', filename='reports/' + report) }} class="btn btn-sm btn-info" download>Download</a>
          <button type="button" class="btn btn-sm btn-danger delete-log" data-name="{{ report }}">
            Delete
          </button>
        </td>
      </tr>

      {% endfor%}
    </tbody>
  </table>
</form>
</div>

{% endblock %}
{% block modals %}
<div class="modal fade" id="delete-log" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form id="form-delete" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Log</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Are you sure you want to delete this log?.</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="batch-delete-log" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Batch Delete Log</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete the selected logs?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="batch-yes" class="btn btn-primary">
          Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
{% block scripts %}
<script>
    
    $(document).ready(function() {
        var dataTable = new DataTable('#table', {
            sorting: false,
            'columnDefs': [ {

                'targets': [0], /* column index */
            
                'orderable': false, /* true or false */
            
             }]
        });
    })
    $('input[type=checkbox]').on('change', function () {
      $countCheck = $('.child-checkbox:checked').length;
      if ($countCheck > 0) {
        $('#batch-delete-btn').show();
      } else {
        $('#batch-delete-btn').hide();
      }
    });
  
    $('.delete-log').on('click', function () {
      $name = $(this).data('name');
      $modal = $('#delete-log');
      $('#form-delete').attr('action', `http://localhost:5000/reports/${$name}/delete`);
      $modal.modal('show');
    });
  
    $('#batch-delete-btn').on('click', function () {
      $('#batch-delete-log').modal({ show: true });
    });
    $('#batch-yes').on('click', function () {
      $('#table-batch').submit();
    });
  </script>
{% endblock%}
